version: '3.8'
services:
  top.api:
    image: docker.pkg.github.com/alaricode/top-api-demo/top-api-demo:develop
    container_name: top-api
    restart: always
    ports:
      - 3000:3000
    volumes:
      - ./.env:/opt/app/.env
    depends_on:
      - mongo
    build: 
      context: .
      dockerfile: Dockerfile
  mongo:
    image: mongo:4.4.4
    container_name: mongo
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
    ports:
      - 27017:27017
    volumes:
      - ./mongo-data-4.4:/data/db